:root {
  --content-color: rgb(255, 127, 39);
  --secondary-color: rgb(255, 178, 96);
  --accent: rgb(250, 234, 62);
  --accent2: rgb(46, 255, 245);
  --text-color: black;
  --shadow: rgba(14, 0, 32, 0.2);
  --highlight: rgb(185, 255, 239);
  --link-color: rgb(30, 0, 165);
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(49, 0, 97);
  overflow-x: hidden;
}

head {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Simply Rounded";
  src: url(assets/fonts/simply_rounded/SimplyRounded.ttf) format("truetype");
}

@font-face {
  font-family: "Simply Rounded";
  src: url(assets/fonts/simply_rounded/Simply\ Rounded\ Italic.ttf)
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url(assets/fonts/open_dyslexic/OpenDyslexic-Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "Warung Kopi";
  src: url(assets/fonts/warung_kopi/Warung\ Kopi\ Regular.otf)
    format("opentype");
}

@font-face {
  font-family: "Pixellari";
  src: url(assets/fonts/pixellari/Pixellari.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans Display";
  src: url(assets/fonts/Noto_Sans_Display/static/NotoSansDisplay-Medium.ttf)
    format("truetype");
}

@font-face {
  font-family: "Noto Sans Display";
  src: url(assets/fonts/Noto_Sans_Display/static/NotoSansDisplay-MediumItalic.ttf)
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "VT323";
  src: url(assets/fonts/VT323/VT323-Regular.ttf) format("truetype");
}

::selection {
  background-color: var(--highlight);
  color: var(--text-color);
}

p,
li {
  font-family: "Noto Sans Display", sans-serif;
  color: var(--text-color);
  font-size: 1.4em;
}

p {
  margin: 0em 0em 0.5em 0em;
  padding: 0rem 1rem;
}

ol {
  margin: 0.3em;
}

ul {
  margin: 0.3em;
  list-style-type: "•︎  ";
}

li {
  margin: 0em;
}

#changefont-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}

label {
  font-family: "Open Dyslexic", sans-serif;
}

h3 {
  font-family: "Pixellari", sans-serif;
  font-size: 1.5rem;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-color: var(--accent);
  margin-top: 0%;
  padding: 0.7rem 1rem 0.5rem;
  border-radius: 0.1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline;
}

li {
  word-break: break-all;
  padding-bottom: 0px;
}

#border-image-left {
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  width: 170px;
  height: 100%;
  background-image: url("assets/images/border_image.png");
  background-repeat: repeat-y;
}

#border-image-right {
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: -1;
  width: 170px;
  height: 100%;
  background-image: url("assets/images/border_image.png");
  transform: scaleX(-1);
}

#title {
  font-family: "Pixellari", sans-serif;
  font-size: 3em;
  text-align: center;
  color: rgb(79, 63, 255);
  -webkit-text-stroke: 1px var(--accent2);
}

#container {
  max-width: 100rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header {
  margin: auto;
  overflow-x: visible;
  width: 0;
  display: flex;
  justify-content: center;
}

#nav-container {
  width: 30%;
  position: sticky;
  margin: 0.5rem 0.5rem;
  padding-bottom: 1em;
  width: 25%;
  top: 1rem;
  /* don't remove top: 1rem */
  height: fit-content;
  background-color: var(--content-color);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 0.5rem;
}

#content-container {
  width: 70%;
}

#counter {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  #border-image-left {
    width: 100px;
    background-image: url("assets/images/border_image_slim.png");
  }

  #border-image-right {
    width: 100px;
    background-image: url("assets/images/border_image_slim.png");
  }

  #flex {
    flex-direction: column;
  }
  #nav-container {
    width: auto;
    margin: 0.5rem 0.5rem;
  }

  /* code stolen from sadgrl.net*/
  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-image: none;
    list-style-type: none;
    padding-left: 1rem;
  }

  nav li {
    margin-right: 1rem;
  }

  #content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 90%;
  }
}

#footer {
  display: flex;
  justify-content: center;
  color: var(--accent2);
}

.content {
  margin: 0.5rem 0.5rem;
  padding-bottom: 1em;
  background-color: var(--content-color);
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 0.5rem;
}

.card-image:hover {
  box-shadow: 0rem 0rem 1rem rgba(6, 0, 37, 0.5);
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5rem 0.5rem;
  padding: 1rem 1rem;
  background-color: var(--content-color);
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(0, 26, 56);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 0.5rem;
}

.project-card {
  margin: 0.5rem 0.5rem;
  height: 11rem;
  width: 128px;
  background-color: white;
  box-shadow: 4px 4px 0px rgba(3, 5, 59, 0.2);
}

.card-title {
  font-family: "Warung Kopi", sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

* {
  border: 0px solid rgba(7, 0, 59, 0.574);
}

#coverart {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
